.side-bar
  .side-bar__user-name
    .side-bar__user-name__side-box
      .side-bar__user-name__side-box__name 
        = current_user.name
      %ul.side-bar__user-name__side-box__menu
        %li
          = link_to "#" do
            %i.far.fa-edit
        %li
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
  .side-bar__groups
    .side-bar__groups__group
      %p.side-bar__groups__group-name fa
      %p.side-bar__groups__group-message まだメッセージがありません
    .side-bar__groups__group
      %p.side-bar__groups__group-name sec
      %p.side-bar__groups__group-message スイカ
    .side-bar__groups__group
      %p.side-bar__groups__group-name thr
      %p.side-bar__groups__group-message hoge ほげ 