.chat-main {
  background-color: #fafafa;
  height: 100vh;
  width: calc(100vw - 280px);
  &__main-header {
    background-color: #fafafa;
    height: 70px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: solid #ebeaea 1px;
    &__van {
      margin: 20px 10px 20px auto;
      height: 30px;
      width: 180px;
      line-height: 30px;
      text-align: center;
      border-radius: 15px;
      background-color: black;
      color: #ffffff;
      opacity: 0;
    }
    .far.fa-edit {
      color: black;
      font-size: 1.3rem;
      margin-top: 22px;
    }
    .far.fa-edit:hover {
      color: rgb(80, 79, 79);
    }
    &__left-box {
      padding-top: 13px;
      &__current-group {
      font-size: 22px;
      font-weight: bold;
      color:#333333;
      }
      &__member-list {
        font-size: 12px;
        font-weight: bold;
        color: #7c7c7c;
      }
    } 


  }

  &__messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    overflow: scroll;
    background-color:rgba(212, 236, 245, 0.671);
    &__message {
      position: relative;
      display: inline-block;
      margin: 1.5em 0 1.5em 15px;
      padding: 7px 10px;
      min-width: 120px;
      max-width: 100%;
      color: #555;
      font-size: 16px;
      background: #FFF;
      border: solid 3px #555;
      box-sizing: border-box;
      &__upper-info {
        display: flex;
        padding-bottom: 12px;
        &__talker {
          font-weight: bold;
          font-size: 15px;
          color: #333333;
          float:left;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__textman {
        font-size: 16px;
        color: #434a54;
      }
    }
    &__message:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -24px;
      margin-top: -12px;
      border: 12px solid transparent;
      border-right: 12px solid #FFF;
      z-index: 2;
    }
    &__message:after {
      content: "";
      position: absolute;
      top: 50%;
      left: -30px;
      margin-top: -14px;
      border: 14px solid transparent;
      border-right: 14px solid #555;
      z-index: 1;
    }
  }





  &__form {
    background-color: #d2d2d291;
    height: 90px;
    margin: 0 20px;
    border: solid 1px;
    border-radius: 15px;
    padding: 20px 40px;
    &__new-message {
      &__input-box {
        display: flex;
        width: 100%;
        position: relative;
        .fa-paper-plane {
          cursor: pointer;
          font-size: 1.4rem;
          position: absolute;
            right: 20px;
            top: 13px;
        }
        .fa-paper-plane:hover {
          cursor: pointer;
          color: rgb(35, 193, 246);
          transform: scale(1.2, 1.2);
          transition: all 0.1s ease;
        }
        &__text {
          height: 50px;
          width: 100%;
          border-radius: 10px;
          background-color: #ffffff;
          color: #434a54;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        &__image {
          cursor: pointer;
          font-size: 1.3rem;
          position: absolute;
            top: 10px;
            right: 90px;
          .icon:hover {
            transform: scale(1.2, 1.2);
            transition: all 0.1s ease;
          }
          &__file {
            display: none;
          }
        }
      }
      &__btn {
        display: none;
      }
    }
  }
  
}