.side-bar {
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
  
    &__side-box {
      height: 20px;
      width: 260px;
      background-color: #253141;
      margin: 0px 20px;
      display: flex;
      justify-content: space-between;
        &__name {
          font-size: 16px;
          font-weight: bold;
          color: #ffffff;
        }
        &__menu {
          width: 60px;
          display: flex;
          justify-content: flex-end;
          li {
            a {
              color:#ffffff;
              .far.fa-edit {
                margin-right: 5px;
               }
              }
            }
          }
        }
    }
  &__groups {
    height: calc(100vh - 100px);
    padding: 20px 20px 0 20px;
    overflow: scroll;
    &__group {
      height:65px;
      font-weight: bold;
      .linkman {
        text-decoration: none;
      }
      &__name {
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 5px;
      }
      &__message {
        font-size: 11px;
        color:#ffffff;
        margin-bottom: 40px;
      }
    }
  }  
}

