.side-bar {
  background-color: rgba(1, 70, 160, 0.925);
  width: 280px;
  height: 100vh;
  &__user-name {
    background-color: rgba(1, 64, 146, 0.925);
    height: 70px;
    display: flex;
    align-items: center;
  
    &__side-box {
      height: 20px;
      width: 260px;
      background-color: rgba(1, 64, 146, 0.925);
      margin: 0px 20px;
      display: flex;
      justify-content: space-between;
        &__name {
          font-size: 16px;
          font-weight: bold;
          color: #ffffff;
        }
        &__menu {
          width: 60px;
          display: flex;
          justify-content: flex-end;
          li {
            a {
              color:#ffffff;
              .fas.fa-cog {
                font-size: 1.2rem;
              }
              .fas.fa-cog:hover {
                color: #afadad;
              }
              }
            }
          }
        }
    }
  &__groups {
    height: calc(100vh - 100px);
    padding: 20px 20px 0 20px;
    overflow: scroll;
    &__new {
      height: 26px;
      width: 240px;
      display:flex;
      justify-content: space-between;
      &__add {
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 22px;
        text-align: center;
      }
      .fas.fa-plus {
        color: #ffffff;
        margin-right: 2px;
        font-size: 1.1rem;
      }
    }
    &__group {
      height:65px;
      margin-left: 10px;
      margin-top: 19px;
      font-weight: bold;
      a {
        text-decoration: none;
      }
      &__name {
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 5px;

      }
      &__message {
        font-size: 12px;
        color:#c8c8c8;
        margin-bottom: 35px;
        margin-left: 5px;
      }
    }
  }  
}

