.side-bar {
  background-color: rgba(1, 70, 160, 0.925);
  width: 280px;
  height: 100vh;
  &__user-name {
    background-color: rgba(1, 64, 146, 0.925);
    height: 70px;
    display: flex;
    align-items: center;
  
    &__side-box {
      height: 20px;
      width: 260px;
      background-color: rgba(1, 64, 146, 0.925);
      margin: 0px 20px;
      display: flex;
      justify-content: space-between;
      position: relative;
        &__name {
          font-size: 16px;
          height: 20px;
          font-weight: bold;
          color: #ffffff;
        }
        .pop-account {
          position: absolute;
            right: 5px;
            top: 28px;
          height: 22px;
          width: 145px;
          line-height: 22px;
          text-align: center;
          border-radius: 15px;
          background-color: black;
          color: #ffffff;
          opacity: 0;
        }
        &__menu {
          width: 25px;
          display: flex;
          justify-content: flex-end;
          li {
            a {
              color:#ffffff;
              .fas.fa-cog {
                font-size: 1.2rem;
              }
              .fas.fa-cog:hover {
                color: #afadad;
              }
              }
            }
          }
          
        }
    }
  &__groups {
    height: calc(100vh - 100px);
    padding: 20px 20px 0 20px;
    overflow: scroll;
    &__new {
      height: 26px;
      width: 240px;
      display:flex;
      justify-content: space-between;
      position: relative;
      &__add {
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 22px;
        text-align: center;
      }
      .fas.fa-plus {
        color: #ffffff;
        margin-right: 2px;
        font-size: 1.1rem;
      }
      .fas.fa-plus:hover {
        color: #a3a2a2;
        font-size: 1.1rem;
      }
    }
    .pop-group {
      height: 24px;
      width: 150px;
      line-height: 24px;
      margin-left: 80px;
      text-align: center;
      border-radius: 15px;
      background-color: black;
      color: #ffffff;
      opacity: 0;
    }
    &__group {
      height:65px;
      margin-left: 10px;
      margin-top: 19px;
      font-weight: bold;
      a {
        text-decoration: none;
      }
      &__name {
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 5px;

      }
      &__message {
        font-size: 12px;
        color:#c8c8c8;
        margin-bottom: 35px;
        margin-left: 5px;
      }
    }
  }  
}

